.form-add {
    background-color: aliceblue;
    padding: 20px;
}

.form-control {
    border-color: #fff;
    margin: 3px;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 0.5rem;
}