body {
    min-height: 100vh;
}

.infor-block {
    display: block;
    flex-direction: column;
    background-color: rgb(215, 225, 230);
    border-radius: 0.3rem;
    margin: auto;
    /* max-width: 700px; */
    padding: 20px;
    margin: 0;
}

.container-block {

    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 0.3rem;
    margin-bottom: 0px;

}

.vertical {
    display: flex;
}

.span {
    margin-right: 30px;
}

.option-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 16px;
    width: 300px;
    min-height: 64px;
    border-radius: 0.3rem;
    border-color: green;
    background-color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button>p {
    margin-bottom: 0;
}

.formbhx-block {
    background-color: #f1ebeb;
}