.list-inline {
  display: block;
  color: #fff;
}

.list-inline li {
  display: inline-block;
  content: '>';
}

.list-inline>li::after {
  content: '>';
  margin: 0 10px;
}

.checked {
  color: orange;
}

.btn {
  background-color: #fff;
  color: #64c5b1;
  border-color: #64c5b1;
}

.product-block {
  height: 380px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 10px;
  position: sticky;
}

.product-block button {
  width: 200px;
  margin: auto;
}

.img-block {
  max-width: 250px;
  height: 220px;
  background-color: #fff;
  padding: 20px;
  border-radius: 0.5rem;
}

.img-control {
  max-width: 200px;
  margin: auto;
  /* margin-left: 0px; */
}

.detail-block {
  display: flex;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 0.5rem;
  position: sticky;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 70px;
}

.p-control {
  background-color: #e6f8ff;
  max-width: 80px;
  border-radius: 0.3rem;
  margin-bottom: 0;
  margin-top: 20px;
  color: blue;
}

.flex-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 10px; */
}

.vertical-block {
  display: block;
  flex-direction: column;
  margin-bottom: 0px;
  max-width: 1300px;
}

.container-product {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  background-color: #f1ebeb;
}

.header-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #64c5b1;
  height: 150px;
  max-width: 1200px;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}

.form-container {
  background-color: #f1ebeb;
  max-width: 1200px;
  margin: auto;
}

.list-unstyle {
  list-style: none;
}

.list-unstyle li::before {
  content: '\f00c' !important;
  font-family: 'font awesome 5 free' !important;
  font-weight: 600;
  font-size: 12px;
  color: #03d87f !important;
  display: inline-block;
  margin-right: 8px;
}

.button-detail {
  background-color: #20b1b9;
  border: none;
  width: 180px;
  height: 36px;
  border-radius: 0.3rem;
  color: #fff;
}

.related-block {
  margin: auto;
  /* margin-top: -50px;
  margin-bottom: -50px; */
  /* display: block; */
  /* flex-direction: column; */
  max-width: 1200px;
  position: sticky;
  /* background-color: #fff; */
  border-radius: 0.5rem;
  padding: 30px;
}

.cartproduct-container {}

.img-cart-product {
  max-width: 70px;
}


.product-block {
  width: 22.75%;
  margin-right: 3%;
}


.product-block:nth-child(4n) {
  margin-right: 0;
}

.product-block .wrapper-sale {
  position: absolute;
  top: -6px;
  right: 0;
  background: #1761fd;
  color: white;
}

.vertical-block button:hover {
  background: red;
}

.product-block .wrapper-sale .saler {
  position: relateive;
  padding: 6px 12px;
}

.product-block .wrapper-sale .saler::before {
  position: absolute;
  content: '';
  background: #1761fd;
  height: 6px;
  width: 4px;
  left: -4px;
  top: 0;
}

.product-block .wrapper-sale .saler::after {
  position: absolute;
  content: '';
  width: 0;
  bottom: -10px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 10px solid;
  border-top-color: #1761fd;
  right: -1px;
}



table {
  font-family: arial, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
  caption-side: bottom;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;

}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}

.table>:not(:first-child) {
  border-top: none;
}

thead {
  background-color: #f8faff;
  border-radius: 0.5rem;
}

.product-cart {
  margin: auto;
  margin-top: 120px;
  position: sticky;
  border-radius: 0.5rem;
  max-width: 1200px;
  background-color: #fff;

}


.total-payment {
  border: 1px solid #f1f5fa;
  background-color: #fff;
  border-radius: 3px;
  max-width: 452px;
  max-height: 338px;
  padding: 20px;
  margin-right: 0;
  margin-left: auto;

}

.border-control {
  padding: 20px 10px;
  border-top: 1px solid #f1f5fa;
}

thead>tr>th {
  border: none;
}

.footer-control {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64c5b1;
  height: 80px;
  margin: auto;
}

.componentCheckout-control {
  max-width: 373px;
  background-color: #fff;
  position: sticky;
  border-radius: 0.3rem;
  margin-top: 80px;
  padding: 10px;
  margin-right: 20px;
}

.headerCheckout {
  padding: 20px;
  border-bottom: 0.5px solid #e0e2e8;
}

.borderBottom-tr {
  border-bottom: solid 3px;

}

.borderBottom-tr-1px {
  border-bottom: solid 1px #e0e2e8;

}

.componentCheckout-control td {
  padding: 20px 10px;
}

.tablehasBorder {
  border: solid #e0e2e8 1px;
}

.tablehasBorder tr {
  border: solid #e0e2e8 1px;
}

.displayCheckout-page {
  display: flex;
}

.inputCheckout-control {
  margin-left: 10px;
  height: 50px;
  width: 230px;
  border: 1px solid #e0e2e8;
  border-radius: 0.3rem;
  margin: auto;
  margin-right: 0px;
  font-size: 1rem;
}

.inputCheckout-block {
  display: flex;
  margin-bottom: 20px;
}

select {
  padding: 0.375rem 0.75rem;
  appearance: none;
}

.end-right {
  margin: auto;
  margin-right: 0px;
}

.imgCheckout-control {
  max-width: 50px;
  margin-left: 140px;
}

.btnCheckout-control {
  padding: 10px;
  border: none;
  /* background-color: #fff; */
}


tr {
  padding: 10rem 3rem;

}